{% extends "base.html" %}

{% block body %}
    <div class="row mt-3">
        <div class="col-5">
            <h2>Coordonnées de la commune</h2>
            <form class="form-inline"
                  action={{ url_for("home.risks") }}
                  method="POST">
                <div class="form-group mx-sm-3 mb-2">
                    <input class="form-control"
                           id="lon"
                           name="lon"
                           placeholder="Longitude"
                           required>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <input class="form-control"
                           id="lat"
                           name="lat"
                           placeholder="Latitude"
                           required>
                </div>
                <button type="submit"
                        class="btn btn-primary mb-2">Confirm</button>
            </form>
        </div>
        {% if risks %}
            <div class="col-5">
                <h2>Informations sur la commune</h2>
                {% for row in risks["infos_commune"] %}
                <p>{{ row }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="row mt-3">
    {% if risks %}
        <div class="col-10 mt-3">
            <h2>Risques recensés sur la commune</h2>
            <table class="table">
                <thead>
                    <th scope="col"> Risques</th>
                    <th scope="col"> Description</th>
                </thead>
                <tbody>
                    {% for risk_category, risk_types in risks["risks"].items() %}
                    <tr>
                        <th scope="row">{{ risk_category }}</th>
                        <td>
                            {% for risk_type, risks in risk_types.items() %}
                                {% for risk in risks %}
                                    <p>{{ risk }}</p>
                                {% endfor %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

{% endblock %}